/* reset browser css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */

html, body {
    font-family: Arial;
    line-height: 1.7em;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    padding-bottom: 20px;
}

/* content basic style */

.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
}
.text-primary {
    color: #Ffdd00;
}

/* navbar */

#navbar {
    background: #154c79;
    color: #fff;
    overflow: auto;
}
#navbar h1 {
    padding-top: 20px;
    float: left;
    transition: 0.5s ease;
}
#navbar a {
    color: #fff;
    font-weight: bold;
    transition: 0.5s ease;
}
#navbar ul {
    float: right;
    list-style: none;
}
#navbar ul li {
    float: left;
}
#navbar ul li a {
    display: block;
    padding: 4px;
    text-align: center;
}
#navbar ul li a:hover {
    background: #195c92;
    color: #Ffdd00;
    box-shadow: 0 0 20px #0000009d;
}
#navbar ul li a.current {
    background: #195c92;
    color: #fff;
    text-decoration: underline;
    box-shadow: 0 0 20px #0000009d;
}
#navbar ul li a p {
    padding: 16px;
    transition: 0.1s ease;
}
#navbar ul li a p:hover {
    /* katsetus / beta - transform: rotate(5deg); */
    transform: translate(-2px, -2px);
    text-shadow: 5px 5px 3px #0000009d;
    font-style: italic;
}
#navbar a:hover {
    color: #Ffdd00;
}
#navbar h1:hover {
    transform: skewX(-10deg);
    text-shadow: 5px 5px 3px #0000009d;
}


/* showcase */

#showcase {
    background: url(../img/hawaii_bg_main_bg.png) no-repeat center center/cover;
    height: 1200px;
    box-shadow: 0 0 8px #0000009d inset;
}
#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}
#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
    text-shadow: 5px 5px 3px #0000009d;
}
#showcase .intro-box {
    outline-style: solid;
    outline-offset: -3px;
    border-radius: 10px;
    background-color: #33333391;
    height: 200px;
    margin-bottom: 60px;
    box-shadow: 5px 5px 8px #0000009d;
}
#showcase .intro-box p {
    text-align: justify;
    font-size: 30px;
    padding: 20px;
    line-height: 1.7em;
}

/* katsetus / beta

#showcase .grad {
    background-image: linear-gradient(rgba(255,0,0,0), #444);
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: -217px;
} */

/* showcase gallery */

#showcase .gallery {
    text-align: justify;
    color: #fff;
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 100px;
    font-weight: bold;
    text-shadow: 5px 5px 3px #0000009d;
}

#showcase .gallery hr {
    color: #fff;
    width: 25%;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 5px 5px 8px #0000009d;
}

/* showcase gallary pictures */

#showcase .next-to-each-other {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
#showcase .showcase-content .next-to-each-other a {
    border-radius: 10px;
    height: 80px;
    width: 200px;
    margin-left: 20px;
    background: #33333391;
    outline-style: solid;
    outline-offset: -3px;
    color: #fff;
    box-shadow: 5px 5px 8px #0000009d;
}
#showcase .showcase-content .next-to-each-other a p {
    text-align: center;
    font-weight: bold;
    padding: 25px 0 0;
    height: 100px;
    font-size: 30px;
    transition: 0.1s ease;
}
#showcase .showcase-content .next-to-each-other a p:hover {
    font-style: italic;
    color: #Ffdd00;
    /* katsetus / beta - transform: rotate(5deg); */
    transform: translate(-2px, -2px);
    text-shadow: 5px 5px 3px #0000009d;
}
#showcase .showcase-img-one {
    background-color: #fff;
    height: 250px;
    margin-right: 20px;
    width: 250px;
    border-radius: 10px;
    background: url(../img/250x250-Placeholder.png) no-repeat;
    box-shadow: 5px 5px 8px #0000009d;
}
#showcase .showcase-img-two {
    background-color: #fff;
    margin-right: 20px;
    margin-left: 20px;
    height: 250px; 
    width: 250px;
    border-radius: 10px;
    background: url(../img/250x250-Placeholder.png) no-repeat;
    box-shadow: 5px 5px 8px #0000009d;
}
#showcase .showcase-img-three {
    background-color: #fff;
    margin-right: 20px;
    margin-left: 20px;
    height: 250px; 
    width: 250px;
    border-radius: 10px;
    background: url(../img/250x250-Placeholder.png) no-repeat;
    box-shadow: 5px 5px 8px #0000009d;
}

/* footer */

#footer {
    bottom: 0;
    width: 100%;
    background-color: #195c92;
}
#footer .grad {
    background-image: linear-gradient(rgba(255,0,0,0), #195c92);
    height: 400px;
    width: 100%;
    bottom: 87.19px;
}
#footer p {
    padding: 30px;
    color: #fff;
    font-weight: bold;
    text-align: left;
}
/* clear */

.clear {
    clear: both;
}

/* map */

#map-info {
    background-color: #444;
    height: 1000px;
}
#map-info .info-content {
    padding-top: 30px;
}  
#map-info .info-box {
    height: 900px;
    background-color: #195c92;
    width: 100%;
} 
#map-info .info-preview {
    width: 500px;
    height: 500px;
    padding: 10px;
    background: url(../img/russia\ 500.png) no-repeat;
    float: left;
} 
#map-info .info-russia {
    outline-style: solid;
    outline-color: #Ffdd00;
    padding-top: 10px;
    width: 50%;
    height: 800px;
    background-color: #fdfdfd;
    float: right;
    text-align: center;
} 
#map-info .info-russia-tips {
    width: 287px;
    height: 220px;
    background: url(../img/car2.png) no-repeat;
    float: left;
} 

/* sidebar */

#sidebar {
    height: 100%;
    width: 25%;
}
#sidebar .sidebar-box {
    height: 100%;
    background-color: #444;
    box-shadow: 0 0 8px #0000009d inset;
}

/* sidebar buttons */

#sidebar .sidebar-nav {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    width: 83%;
    height: 100%;
}
#sidebar ul {
    list-style: none;
}
#sidebar ul li {
    padding-top: 20px;
    padding-bottom: 20px;
}
#sidebar ul hr {
    color: #fff;
    background-color: #fff;
    height: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #0000009d;
}
#sidebar ul li a {
    background: #444;
}
#sidebar ul li a p {
    color: #a1a1a1;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 5px 5px 8px #0000009d;
    transition: 0.1s ease;
}
#sidebar ul li a p:hover {
    color: #Ffdd00;
    font-style: italic;
    transform: translateX(10px);
    text-shadow: 5px 5px 4px #000000c5;
}
#sidebar ul li a.current {
    background: #fff;
    text-decoration: underline #Ffdd00;
}
#sidebar ul li a p.current {
    color: #fff;
}